
$Fuente_principal : "Della Respira", serif;


// Colores
$negro: #111111;
$verde:#08480f;
$rosa: #9d0d25;
$amarillo: #fdda00;
$morado: #752F97;
$blanco: #F2F2F2;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$tabletXL: 880px;
$desktopS: 1050px;
$desktop: 1200px;
$desktopXL: 1400px;
$desktop3XL: 1775px;