@use 'base/variables' as v;

.footer {
    background-color: lighten(darkslateblue, 15%);
    padding: 2rem 0;
    p {
        margin: 0;
        color: v.$blanco;
        text-align: center;
        &.flex{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            a img{
                width: 3.4rem;
            }
        }
    }
}