@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: lighten(darkslateblue, 15%);
    padding: 2rem 0;
    p {
        font-size: 1.6rem;
        margin: 0;
        color: v.$blanco;
        text-align: center;
        &.flex{
            gap: 0.5rem;

        }
        @include m.tablet{
            font-size: 3rem;
        }
        
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        a img{
            width: 5rem;
            margin-bottom: -2rem;
        }
        a{
            color: v.$blanco;
        }
    }
}